body {
  font-family: "Open sans", sans-serif;
}

/* .container {
  padding-right: 6%;
  padding-left: 6%;
} */

.rodape {
  text-align: center;
  background-color: #fff;
  padding: 20px;
}

main {
  background-color: #ebebeb;
}

.contato_fundo {
  background-color: #fff;
}
